<form [formGroup]="newTopicForm" (ngSubmit)="submitNewtopic()">
  <h1>Create Topic:</h1>

  <label>
    Title:
    <br>
    <input type='text' formControlName="title">
  </label>

  <br><br>

  <label>
    Description:
    <br>
    <textarea formControlName="description"></textarea>
  </label>

  <br><br>

  <label>
    Content:
    <br>
    <quill-editor formControlName="content"></quill-editor>
  </label>

  <br>

  <label>
    Files:
    <br>
    <input type='file' formControlName="files" multiple="true">
  </label>

  <br><br>

  <app-multiple-select-using-search
    [apiSource]="API.getTopics"
  ></app-multiple-select-using-search>

  <br><br>

  <input type='submit' value='Save'>
</form>
